@use "@styles/variables" as *;
@use "@styles/colors" as *;

.figma-light {
  .btn-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.16px;
    border-radius: 6px;
    box-sizing: border-box;
  }

  .remove-bg-active,
  .remove-bg-no-credits,
  .remove-bg-disabled,
  .continue,
  .upscale-active,
  .upscale-no-credits,
  .upscale-disabled,
  .generate-image-active,
  .generate-image-no-credits,
  .generate-image-disabled,
  .submit-active,
  .submit-disabled,
  .continue-disabled,
  .new-key,
  .add-credits,
  .buy-more,
  .sign-in-btn,
  .sign-in-disabled,
  .sign-in-retry,
  .sign-out-btn,
  .cancel-btn,
  .use-api-key,
  .reopen-browser {
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .remove-bg-active, .remove-bg-no-credits {
    color: #ffffff;
    background-color: #520be5;
  }
  .remove-bg-active:hover, .remove-bg-no-credits:hover {
    background-color: #3e07c5;
  }

  .remove-bg-disabled {
    color: #ffffff;
    background-color: #757575;
    border: 2px solid #757575;
  }

  .continue {
    color: #ffffff;
    background-color: #520be5;
  }
  .continue:hover {
    background-color: #3e07c5;
  }

  .upscale-active, .upscale-no-credits {
    color: #ffffff;
    background-color: #520be5;
  }
  .upscale-active:hover, .upscale-no-credits:hover {
    background-color: #3e07c5;
  }

  .upscale-disabled {
    color: #ffffff;
    background-color: #757575;
    border: 2px solid #757575;
  }

  .generate-image-active, .generate-image-no-credits {
    color: #ffffff;
    background-color: #520be5;
  }
  .generate-image-active:hover, .generate-image-no-credits:hover {
    background-color: #3e07c5;
  }

  .generate-image-disabled {
    color: #ffffff;
    background-color: #757575;
    border: 2px solid #757575;
  }

  .submit-disabled {
    color: #ffffff;
    background-color: #757575;
    border: 2px solid #757575;
  }

  .continue-disabled {
    color: #ffffff;
    background-color: #757575;
    border: 2px solid #757575;
  }

  .submit-active {
    color: #ffffff;
    background-color: #520be5;
  }
  .submit-active:hover {
    background-color: #3e07c5;

  }
  .new-key {
    color: #520be5;
    background-color: #ffffff;
    border: 2px solid #520be5;
  }
  .new-key:hover {
    background-color: #e5e5f7;
    border-color: #3e07c5;
  }

  .buy-more, .add-credits, .sign-in-btn, .sign-in-retry {
    color: #ffffff;
    background-color: #520be5;
  }
  .buy-more:hover, .add-credits:hover, .sign-in-btn:hover, .sign-in-retry:hover {
    background-color: #3e07c5;
  }

  .sign-in-disabled {
    color: #ffffff;
    background-color: #757575;
    border: 2px solid #757575;
  }

  .sign-out-btn, .cancel-btn, .use-api-key, .reopen-browser {
    color: #520be5;
    background-color: #ffffff;
    border: 2px solid #520be5;
  }
  .sign-out-btn:hover, .cancel-btn:hover, .use-api-key:hover, .reopen-browser:hover {
    background-color: #e5e5f7;
    border-color: #3e07c5;
  }

  .remove-key {
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    color: $light-color-error-text;
    background-color: transparent;
    border: 2px solid $light-color-error-text;
  }
  .remove-key:hover {
    color: $color-default-white;
    background-color: $light-color-error-text;
  }
}

.figma-dark {
  .btn-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.16px;
    border-radius: 6px;
    box-sizing: border-box;
  }

  .remove-bg-active,
  .remove-bg-no-credits,
  .remove-bg-disabled,
  .continue,
  .upscale-active,
  .upscale-no-credits,
  .upscale-disabled,
  .generate-image-active,
  .generate-image-no-credits,
  .generate-image-disabled,
  .submit-active,
  .submit-disabled,
  .continue-disabled,
  .new-key,
  .add-credits,
  .buy-more,
  .sign-in-btn,
  .sign-in-disabled,
  .sign-in-retry,
  .sign-out-btn,
  .cancel-btn,
  .use-api-key,
  .reopen-browser {
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .remove-bg-active , .remove-bg-no-credits{
    color: #000000;
    background-color: #bd99f8;
  }
  .remove-bg-active:hover, .remove-bg-no-credits:hover {
    background-color: #5a1f9e;
  }

  .remove-bg-disabled {
    color: #ffffff;
    border: 2px solid #4a4646;
  }
  .remove-bg-disabled:hover {
    border-color: #3e3a3a;
  }

  .continue {
    color: #000000;
    background-color: #bd99f8;
  }
  .continue:hover {
    background-color: #5a1f9e;
  }

  .upscale-active, .upscale-no-credits {
    color: #000000;
    background-color: #bd99f8;
  }
  .upscale-active:hover, .upscale-no-credits:hover {
    background-color: #5a1f9e;
  }

  .upscale-disabled {
    color: #ffffff;
    border: 2px solid #4a4646;
  }
  .upscale-disabled:hover {
    border-color: #3e3a3a;
  }

  .generate-image-active, .generate-image-no-credits {
    color: #000000;
    background-color: #bd99f8;
  }
  .generate-image-active:hover, .generate-image-no-credits:hover {
    background-color: #5a1f9e;
  }

  .generate-image-disabled {
    color: #ffffff;
    border: 2px solid #4a4646;
  }
  .generate-image-disabled:hover {
    border-color: #3e3a3a;
  }

  .submit-disabled {
    color: #ffffff;
    border: 2px solid #4a4646;
  }

  .continue-disabled {
    color: #ffffff;
    border: 2px solid #4a4646;
  }

  .submit-active {
    color: #000000;
    background-color: #bd99f8;
  }
  .submit-active:hover {
    background-color: #5a1f9e;
  }

  .new-key {
    color: #000000;
    background-color: #bd99f8;
  }
  .new-key:hover {
    background-color: #5a1f9e;
  }

  .buy-more, .add-credits, .sign-in-btn, .sign-in-retry {
    color: #000000;
    background-color: #bd99f8;
  }
  .buy-more:hover, .add-credits:hover, .sign-in-btn:hover, .sign-in-retry:hover {
    background-color: #5a1f9e;
  }

  .sign-in-disabled {
    color: #ffffff;
    border: 2px solid #4a4646;
  }

  .sign-out-btn, .cancel-btn, .use-api-key, .reopen-browser {
    color: #000000;
    background-color: #bd99f8;
  }
  .sign-out-btn:hover, .cancel-btn:hover, .use-api-key:hover, .reopen-browser:hover {
    background-color: #5a1f9e;
  }

  .remove-key {
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    color: $dark-color-error-text;
    background-color: transparent;
    border: 2px solid $dark-color-error-text;
  }
  .remove-key:hover {
    color: #000000;
    background-color: $dark-color-error-text;
  }
}
