@use "@styles/variables" as *;
@use "@styles/colors" as *;

.account-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: $gap-large;
}

.balance-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin account-text($label-color, $credits-color) {
    .text {
        font-family: "Gilroy";
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 0.16px;
        color: $label-color;
    }

    .credits-text {
        font-family: "Gilroy";
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 0.16px;
        color: $credits-color;
    }
}

.figma-light {
    @include account-text($light-color-option-active, $light-color-option-active);
}

.figma-dark {
    @include account-text($dark-color-option-active, $dark-color-option-active);
}
